body {
  background-image: url(https://cdn.wallpapersafari.com/9/87/ONwWQJ.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*background-position: center;*/
  margin: 0px;
  height: auto;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  color: white;
}
/*******************************************BREAKPOINTS**********************************************/

@media screen and (max-width: 1200px) {
  /*NAVIGATION*/
  .favorite {
    display: none !important;
  }
  /* reduced size of search bar */
  .search {
    width: 30%;
  }
  input {
    font-size: 11px !important;
  }
  /*FOOTER*/
  .more-controls > div:nth-child(3) {
    display: none;
  }
  .more-controls > div:nth-child(4) {
    display: none;
  }
  .Artist-name h1 {
    font-size: 2.4vw;
  }
  .about {
    font-size: 1.2vw;
  }
}
@media screen and (max-width: 900px) {
  .about {
    font-size: 1.6px;
  }
  .section-1 {
    width: 100%;
  }
  .main-song {
    height: 30vw;
  }
  .main-image {
    height: 30vw;
    width: 30vw;
  }
  .section-2 {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 300px;
    height: 68vh;
    background-color: #050043;
    box-shadow: 0px 0px 2px 1px white;
    right: 0px;
    top: 23.5%;
    overflow: scroll;
    padding-left: 10px;
    z-index: 5;
    padding-right: 5px;
    transition: visibility ease-in-out 0.3s;
    transition: opacity ease-in-out 0.3s;
  }
  .play-follow {
    height: 4vw;
    width: 11vw;
    font-size: 1.7vw;
  }
  .section-2::-webkit-scrollbar {
    display: none;
  }
  input[type="checkbox"]:checked ~ .section-2 {
    visibility: visible;
    opacity: 1;
  }
  .list {
    overflow: hidden;
    height: auto;
  }
  .list-item {
    background-color: #1a1e33;
  }

  .section-1 {
    width: 100%;
  }

  .main-song {
    height: 30vw;
  }
  /* image in the jumbotron */
  .main-image {
    height: 30vw;
    width: 30vw;
  }
  /* buttons and all */
  .play-follow p {
    font-size: 2vw;
  }
  .buttons > button {
    height: 4vw;
    width: 11vw;
    font-size: 1.7vw;
  }
}
@media screen and (max-width: 700px) {
  .followers,
  .artist {
    font-size: 2vw;
  }

  .about {
    font-size: 1.8vw;
  }

  .more-controls > div:nth-child(3) {
    display: none;
  }
  .more-controls > div:nth-child(4) {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  /*NAVIGATION*/
  .title img {
    height: 20px;
    width: 20px;
  }
  /* website name */
  .title h1 {
    font-size: 3vw;
  }

  .notification-bell img {
    width: 15px;
    height: 15px;
  }

  .login img {
    width: 20px;
    height: 20px;
  }

  .notification-bell,
  .login {
    margin-top: 8px;
  }
  .Artist-name h1 {
    font-size: 3vw;
  }
  /* followers and author */
  .followers,
  .author {
    font-size: 3vw;
  }
  /* jumbotron description */
  .about {
    font-size: 3vw;
    padding-left: 4px;
  }
  /* buttons and all in the jumbotron */
  .play-follow {
    padding-top: 0px;
  }
  /* jumbotron */
  .main-song {
    height: 60vw;
    text-align: justify;
  }
  /* image in the jumbotron */
  .main-image {
    height: 60vw;
    width: 60vw;
  }
  /* buttons and stuff */
  .buttons > button {
    height: 8vw;
    width: 17vw;
    font-size: 3.2vw;
  }
  /* extra icons in the footer at the right hand side */
  .more-controls > div:nth-child(3) {
    display: none;
  }
  .more-controls > div:nth-child(4) {
    display: none;
  }
  #song-poster {
    display: none;
  }
}
/*******************************ALL THE ANIMATIONS USED IN THE CODE*********************************/
/*USED FOR ROTATING THE LOGO*/
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*FOR RINGING notification-bell*/
@keyframes ring {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
/*IF THE USER HOVERS OVER THE HEART*/
@keyframes liked {
  0% {
    color: lightpink;
  }
  50% {
    color: orangered;
  }
  100% {
    color: red;
  }
}
/*IF THE USER HOVERS OVER THE plus*/
@keyframes adding {
  0% {
    color: lightblue;
  }
  50% {
    color: cadetblue;
  }
  100% {
    color: cyan;
  }
}
/*IF THE USER HOVERS OVER THE REMOVE*/
@keyframes removed {
  0% {
    color: white;
  }
  50% {
    color: dimgrey;
  }
  100% {
    color: darkgray;
  }
}

/************************************NAVIGATION SECTION*************************************************/
/*GENERAL NAVIGATION-BAR SETTINGS*/

.navigation-bar {
  height: auto;
  width: auto;
  justify-content: space-between;
  transition: all ease-in-out 1s;
  display: flex;
  height: auto;
  width: auto;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
  background-image: linear-gradient(#15777e, black);
}
.navigation-bar > div {
  display: inline-block;
}
/*TITLE*/

.title {
  margin: 0px;
  padding-bottom: 0;
  display: inline-block;
}
.title > div {
  vertical-align: middle;
  display: inline-block;
}

/*THE TITLE IMAGE INCLUDES THE ROTATING ANIMATION*/
.title img {
  height: 60px;
  width: 60px;
  animation: rotating 1s ease-in-out infinite;
}
/*searchbar*/
.search {
  display: inline-block;
  width: 40%;
  top: 20%;
  position: relative;
}
.search input {
  width: 100%;
  text-decoration: none;
  border-radius: 20px;
  border-color: antiquewhite;
  display: inline-block;
  width: 40%;
  top: 30%;
  display: inline-block;
}
.search > div {
  display: inline-block;
}
/*BUTTON WHICH INCLUDES THE SEARCH ICON*/
button {
  background: none;
  color: white;
}

/*NOTIFICATION BELL IT INFINITELY RINGS*/
.notification-bell {
  padding-left: 10%;
  animation: ring 1s ease-in-out infinite;
}
/*LOGIN*/
.login {
  height: 30px;
  width: 30px;
}
.login-dropdown {
  position: absolute;
  background-image: url(https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2020/02/Usign-Gradients-Featured-Image.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;
  width: 0px;
  height: 0px;
  top: 60px;
  right: 20px;
  overflow: hidden;
  z-index: 2;
  border: 1px solid white;
  box-shadow: 0px 0px 6px 4px rgba(230, 0, 196, 0.3);
  transition: all ease-in-out 0.3s;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked ~ .login-dropdown {
  width: max-content;
  height: auto;
  opacity: 1;
  padding: 5px;
  /*display: block;*/
}
.item p {
  text-align: center;
}
/************************************MAIN*********************************/
main {
  height: auto;
  width: 100%;
  padding: 0% 3%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition: all ease-in-out 1s;
}
/*ASIDE SECTION */

/***********************ASIDE-1**************************/
.aside {
  display: inline-block;
  overflow: hidden;
}
.section-1 {
  width: 70%;
  height: 85vh;
  overflow: scroll;
}
/*WE DON'T WANT THE SCROLLBAR VISIBLE TO THE USER FOR THAT PURPOSE IT IS HIDDEN*/
.section-1::-webkit-scrollbar {
  display: none;
}
.section-2 {
  width: 28%;
  height: 85vh;
  z-index: 2;
}

/*ASIDE-1*/
.main-song {
  background-image: url(https://images.unsplash.com/photo-1470225620780-dba8ba36b745?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  height: 20vw;
  width: 100%;
  margin-top: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
  box-shadow: 2px 2px 2px 2px lightpink;
}

/*IMAGE*/
.main-image {
  height: 20vw;
  width: 20vw;
  background-image: linear-gradient(
      to bottom,
      transparent,
      rgba(255, 0, 25, 0.2)
    ),
    url(https://imagesvc.meredithcorp.io/v3/jumpstartpure/image?url=https://static.onecms.io/wp-content/uploads/sites/6/2021/11/11/Taylor-Swift-Red.jpg&w=1280&h=720&q=90&c=cc);
  background-size: cover;
}
.song-details {
  width: 67%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-right: 12px;
}

/*DESCRIPTION*/
.song-description,
.play-follow {
  width: 100%;
  height: max-content;
}
.Artist-name,
.followers {
  display: inline-block;
}
.Artist-name h1 {
  font-size: 2vw;
}
/* follower count */
.followers {
  position: absolute;
  right: 0%;
  top: 5%;
}

.followers,
.artist {
  font-size: 1.5vw;
}

.about {
  font-size: 1vw;
}
.play-follow p {
  font-size: 1vw;
}
.buttons > button {
  border: 0px;
  height: 3vw;
  width: 10vw;
  color: white;
  font-size: 1.2vw;
}
/* play button */
.buttons > button:nth-child(1) {
  background-image: linear-gradient(-25deg, black 0%, lavender 100%);
}
/* follow button */
.buttons > button:nth-child(2) {
  border-radius: 18px;
  background-color: transparent;
}
.buttons > button:nth-child(2):hover {
  box-shadow: 0px 0px 2px 1px gold;
  background-color: transparent;
}
.buttons > button:nth-child(1):hover {
  box-shadow: 0px 0px 2px 1px lightpink;
  background-image: linear-gradient(-25deg, black 0%, darkcyan 100%);
}
/* particular item in the playlist */
.playlist-item {
  height: 8vh;
  box-sizing: border-box;
  background-image: url(https://media.istockphoto.com/photos/purple-pink-black-abstract-background-picture-id1148136785?b=1&k=20&m=1148136785&s=170667a&w=0&h=HQqkJKwJFwhQ6W_jUv_juaxFk186pgwOxcP14dIMyPI=);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
/* playlist item hovering effects */
.playlist-item:hover {
  background-image: url(https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2020/02/Usign-Gradients-Featured-Image.jpg);
  box-shadow: 1px 2px 4px 1px white;
}
/* image-and-details part if the playlist item */
.image-and-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  height: 100%;
  padding: 0% 1%;
}
/*/song duration*/
.duration {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: min-content;
  height: 100%;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100%;
  padding-right: 2%;
} /* now adjusting the contents of left, center and right parts */
.image-and-details > div:nth-child(2) {
  height: 80%;
  min-width: 50px;
  max-width: 50px;
  margin: 0px 12% 0px 12%;
  position: relative;
}
.image-and-details > div:nth-child(2) img {
  width: 100%;
  height: 100%;
}
.image-and-details > div:nth-child(3) p {
  color: rgb(185, 185, 185);
}
/*CURRENTLY THE OPACITY OF THE play-button ON CARD IMAGE IS SET TO ZERO BUT ON HOVER IT APPEARS*/
.play-button {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgba(255, 0, 255, 0);
  background-color: rgba(0, 0, 0, 0);
  font-size: 40px;
  text-align: center;
  z-index: 5;
  transition: all ease-in-out 0.2s;
}

/*PURPLE PLAYBUTTON EFFECT ON HOVER*/
.play-button:hover {
  color: rgba(255, 0, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}
/* adjusting fonts in the playlist items  */
.image-and-details div p {
  font-size: 14px;
}
.duration {
  font-size: 12px;
  color: rgb(185, 185, 185);
}
.actions {
  color: rgb(185, 185, 185);
}
.actions div:nth-child(2) {
  margin-left: 27%;
}

/*********************ASIDE-SECTION-2************************************/
.section-heading {
  margin-top: 10px;
  position: relative;
  margin-bottom: 12px;
}
/* adjusting for side by side display */
.section-heading div,
.section-heading h1 {
  display: inline-block;
}
.section-heading h1 {
  font-size: 23px;
}
.section-heading div {
  position: absolute;
  bottom: 0%;
  right: 0px;
  font-size: 14px;
}

.list {
  height: 36vh;
  overflow: scroll;
}
/* hiding the scrollbar */
.list::-webkit-scrollbar {
  display: none;
}
/* this is particular item in the "list  container*/
.list-item {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 12px;
}
/* hovering effect for the list item */
.list-item:hover {
  background-image: url(https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2020/02/Usign-Gradients-Featured-Image.jpg);
}
/* adjusting the name and image of the songs relative to their original position */
.list-item > div:nth-child(1) {
  width: 100px;
  height: 100%;
  position: relative;
}
.list-item > div:nth-child(1) > img {
  width: 100%;
  height: 100%;
}
.author-name {
  font-size: 12px;
  color: rgb(185, 185, 185);
}
.extra {
  text-align: right;
  height: 100%;
}
/***********************************************FOOTER***********************************************/
footer {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/390/608/22/audio-spectrum-wallpaper-preview.jpg);
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  padding: 0px 3%;
  box-sizing: border-box;
  z-index: 6;
}
/*CURRENT SONG*/
.Song-playing {
  height: 90%;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#song-poster {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
}

#song-poster img {
  width: 100%;
  height: 100%;
}
.like-and-remove {
  height: 100%;
  padding-top: 4%;
}

.Song-description {
  margin-right: 1%;
  margin-left: 1%;
}

.Song-description div:nth-child(1) {
  font-size: 15px;
}

.Song-description div:nth-child(2) {
  font-size: 12px;
}

/*music-player CONTROLS*/

.music-player {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
/ .controls {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

#slider {
  width: 100%;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.time {
  margin: 0px 10px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}
.like-and-remove {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.more-controls {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.controls {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.actions > div:nth-child(1):hover .fa-heart {
  animation-name: liked;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
}
.actions > div:nth-child(2):hover .fa-plus {
  animation-name: adding;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.like-and-remove > span:nth-child(1):hover .fa-heart {
  animation-name: liked;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
}
.like-and-remove > span:nth-child(2):hover .fa-circle-minus {
  animation-name: removed;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
